# -----------------------------
# SECRETS
# -----------------------------
.env
.env.*
!.env.example
*.key

# -----------------------------
# NODE
# -----------------------------
node_modules/

# -----------------------------
# HARDHAT
# -----------------------------
artifacts/
cache/

# -----------------------------
# ZK / SNARKJS FILES
# -----------------------------
*.ptau
*.zkey
*.wtns

zk-real/build/*.ptau
zk-real/build/*.zkey
zk-real/build/*.wtns

# -----------------------------
# LOGS
# -----------------------------
logs/
*.log

# -----------------------------
# BUILD / DIST
# -----------------------------
dist/
build/

# -----------------------------
# ARCHIVES
# -----------------------------
*.zip
*.tar
*.gz

# -----------------------------
# SYSTEM FILES
# -----------------------------
.DS_Store
Thumbs.db