# secretos
.env
.env.*
!.env.example
node_modules/
artifacts/
cache/

# node
node_modules/

# hardhat
artifacts/
cache/

# logs
logs/
*.log

# build
dist/
build/

# backups y paquetes
*.zip
*.tar
*.gz

# sistema
.DS_Store
Thumbs.db
